.login {
  height: 100vh;
  position: relative;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    min-height: 600px;
    max-width: 600px;
    margin: 0;
    background-color: none;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 2em;

    &__fade-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input {
      background: white !important;
      opacity: 0.9;
    }
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}
