.login {
  height: 100vh;
  transition: transform;
  background-size: cover;
  background: url("../images/image6.jpg") 0px;
  min-width: 100%;
  min-height: 100%;
}

.login__form {
  position: fixed;
  min-width: 300px;
  top: 50%;
  left: 50%;
  min-width: 300;
  padding: 2em;
  transform: translate(-50%, -50%);
  transition: transform;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}

.login__icon-buttons {
  width: 250px;
  height: 100%;
  padding: 0;
  min-width: 64px;
  box-sizing: border-box;
}

.login__icon-buttons--spacing {
  margin: 0.5em !important;
}
