/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$primaryBackground: linear-gradient(to right, #859398, #283048);
/* Chrome 10-25, Safari 5.1-6 */
$primaryBackgroundAlt: -webkit-linear-gradient(to right, #859398, #283048);
/* fallback for old browsers */
$primaryBackgroundFallback: #283048;
